# Generate a random secret: `openssl rand -base64 32`
AUTH_SECRET=****

# Local persistence (user/site + global settings tables)
POSTGRES_URL=****

# Frappe / PaaS Configuration
ROKCT_BASE_URL=http://paas.localhost:8000
ROKCT_API_KEY=****
ROKCT_SECRET=****
